.row.row--short.relative
  .row__medium-1-2
    = cl_image_tag 'cleaning-machine', :alt => 'Computer', :class => 'img--full-height img--background img--grayscaled'
    .overlay.overlay--dark-color
.page-section
  .container
    %h1.section-title= "Kontakt"
    = source_helper "alert alert-info"
    %h4= "Telefon: +372 5114350"
    %h4= "Email: alismoll22@gmail.com"
