= simple_form_for blog do |f|
  - if blog.errors.any?
    - blog.errors.full_messages.each do |error|
      = alert_generator(error, :error, "Error")
  %div
    = f.label :title
    = f.text_field :title
  %div
    = f.label :created_at, "Publish Date"
    = f.date_field :created_at, value: (blog.created_at || Time.now)
  %div
    = f.input :topic_id, collection: Topic.all.map{|topic| [topic.title, topic.id]}, selected: 1, "aria-label" => "Topic"
    / = f.collection_select :topic_id, Topic.all, :id, :title, {:prompt => "Please select a topic"}, "aria-label" => "Topic"
  %div
    = f.label :body
    = f.text_area :body, rows: 15
  %div
    = f.input :photos, as: :file, input_html: { multiple: true }
  %div
    = f.submit
