%div
  %h4= link_to "About", about_path
  = image_tag "https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", :alt => "profile image"
  %p= "My name is Adel Muursepp and I work as a freelancer"
  = source_helper "alert alert-info"
  %h4= "Elsewhere"
  %ol
    %li= link_to fa_icon("github"), "https://github.com/adelmuursepp"
    %li= link_to fa_icon("linkedin"), "https://www.linkedin.com/in/adel-muursepp"
  %h4= link_to "Topics", topics_path
  %ol
    - @all_topics.each do |topic|
      %li= link_to topic.title, topic
